CONFIG_IDF_TARGET="esp32s3"
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_ESPTOOLPY_FLASHMODE_DIO=y
CONFIG_ESPTOOLPY_FLASHFREQ_40M=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_FREERTOS_HZ=1000
CONFIG_ESP_MAIN_TASK_STACK_SIZE=8192
CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG=y
CONFIG_I2S_ISR_IRAM_SAFE=y
CONFIG_BE_POWER_SETTLE_MS=100
CONFIG_BE_DEFAULT_BPM=90
CONFIG_BE_DEFAULT_DIFFICULTY=0
CONFIG_BE_VOLUME=25
CONFIG_BE_INPUT_OFFSET_MS=0
